# Python
.venv/
venv/
__pycache__/
*.pyc

# Frontend
safeflow/node_modules/
safeflow/.next/

# Backend uploads
backend/storage/uploads/
backend/storage/outputs/

# Logs
*.log

# Sistema
Thumbs.db
.DS_Store